name: Release

# on:
#   push:
#     tags:
#       - 'v*'

# jobs:
#   changelog:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - name: conventional Changelog Action
#         id: changelog
#         uses: TriPSs/conventional-changelog-action@v3.7.1
#         with:
#           github-token: ${{ secrets.CHANGELOG_RELEASE }}

#       - name: create release
#         uses: actions/create-release@v1
#         if: ${{ steps.changelog.outputs.skipped == 'false' }} 
#         env:
#           GITHUBSTOKEN: ${{ secrets.CHANGELOG_RELEASE }} 
#         with:
#           tag_name: ${{ steps.changelog.outputs.tag }}
#           release_name: ${{ steps.changelog.outputs.tag }} 
#           body: ${{ steps.changelog.outputs.clean_changelog }}

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: false
          prerelease: false